<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Feature Flag</title>

    <link rel="stylesheet" href="/main.css">
    <script>
      let dbClass;
      const handleRadioSelect = (type) => {
        window.location.href = `/${type}`;
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="/components/table-head.js"></script>
    <script src="/components/table-body.js"></script>
    <script src="/components/table-pagination.js"></script>
    <script src="/components/add-edit-form.js"></script>
    <script src="/components/flagged-feature.js"></script>
    <script src='/setup.js'></script>
</head>
<body class="container">
<flagged-feature flag-key="<%= exampleFlag %>">
    <% if (!option) { %>
        <template slot="feature">
            <div class="alert alert-success">
                <strong><%= label %></strong> You can see this flagged feature!
                <div><%= note %></div>
            </div>
        </template>
    <% } else { %>
        <template slot="feature">
            <header class="alert alert-info">
                <a class="<%= ownActive %>" href="/own">Own Databases</a>
                <a class="<%= sharedActive %>" href="/shared">Shared Database</a>
                <p class="example-note"><strong><%= label %></strong> <%= note %></p>
            </header>
        </template>
    <% } %>
</flagged-feature>

<main class='stack stack-gap-large'>
    <div>
        <h1>&nbsp;&nbsp;Feature Flags&nbsp;&nbsp;</h1>
        <% if (option) { %>
            <div class="note">Flags that are enabled will be hidden!</div>
        <% } %>
    </div>

    <div id='content'>
        <% if (!option) { %>
            <h6>Select the option for how environments & databases are set up</h6>
            <div id='radio-group' class='stack stack-gap-large'>
                <button class="btn btn-primary" type='button' onclick='handleRadioSelect("own")'>
                    Own: Each environment has its own database
                </button>

                <button class="btn btn-primary" type='button' onclick='handleRadioSelect("shared")'>
                    Shared: Each environment shares a single database
                </button>
            </div>
        <% } %>
    </div>
</main>
<script>
    <% if (option) { %>
    dbClass = new PageSetup('<%= option %>')
    <% } %>
</script>
</body>
</html>